<h1>About Me</h1>

<p> I am a Research Scientist at <a href="www.galois.com">Galois, Inc.</a>
working mostly on Quantitative Information Flow and Abstract Interpretation. I
was awarded a PhD by the <a href="https://www.cs.york.ac.uk">University of
York</a> Programming Languages group. My PhD work was in Functional Programming,
looking at techniques for implicit parallelism.

My research interests are in parallel functional languages, DSLs, computer
music, and compilers.</p>

$body$


<!-- I list my very small catalogue of publications <a href="/publications.html">here.</a> -->

<p><a href="mailto:jmct@cs.york.ac.uk">Feel free to send me an email.</a></p>

<h2><a href="/posts.html">Posts</a> </h2>

<h2><a href="/memos.html">Memos</a> </h2>
